
html
head
link(rel="stylesheet" href="main.css" type="text/css")
body
    header
        h1= "You uploaded a photo!"
    a(href="http://localhost:3000/") GET BACK
    div
        img(src= `uploads/${image}`)
    
